
$primary-color: #c92c8F;
$text-color: #3D4246;
$secondary-color: #ffffff;
$background-color: #956A0f;
$border-radius: 10px;

$font-heading: 'Montserrat', sans-serif;
$font-body: 'Poppins', sans-serif;