.drawer{
    height: 150px;
    width: 100%;
    background-color: white;
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 40px;
    
}
.drawerItem{
    margin-left: 30%;
    padding: 4px 0px;
    &:hover{
        text-decoration: underline;
    }
}
